* {
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
 background-color: #333;
}

body {

   height: 1000px;
   overflow-y: scroll;
}

a {
   text-decoration: none !important;
}

select option {
   border: none;
   outline: none;
  }